@page "/games"
@using GambleMaticWebApp.Data
@inject GamblingDataService _gameDataService
<PageTitle>Games</PageTitle>

<h1>Games Management page</h1>

<Div id="Insert game">
    <Table Striped Hoverable Bordered>
        <TableRow>
            <TableRowCell>Event</TableRowCell>
            <TableRowCell>
                <Select TValue="int" SelectedValueChanged="@OnSelectedEventChanged">
                    @{
                        int index = 0;
                        foreach (var gamblingEvent in GamblingEvents)
                        {
                            <SelectItem Value="@index">@gamblingEvent.EventName</SelectItem>
                            index = index + 1;
                        }
                    }
                </Select>
            </TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowCell>Date</TableRowCell>
            <TableRowCell>
                <div class="input-group date" data-provide="datepicker">
                    <input type="date" class="form-control" @bind="newGameModel.Date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowCell>Home</TableRowCell>
            <TableRowCell>
                <TextEdit @bind-Text="@newGameModel.Home" Placeholder="Home team name" />
            </TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowCell>Away</TableRowCell>
            <TableRowCell>
                <TextEdit @bind-Text="@newGameModel.Away" Placeholder="Away team name" />
            </TableRowCell>
        </TableRow>
    </Table>
    <Button Color="Color.Success" onclick="@AddNewGameAsync">Save new game entry</Button>

</Div>

<Div id="GamesList">
    <h2>Games in database:</h2>
    <Button Color="Color.Primary" Clicked="@UpdateGameResults">Update all results</Button>
    <Table Striped Hoverable Bordered>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Date</TableHeaderCell>
                <TableHeaderCell>HOME</TableHeaderCell>
                <TableHeaderCell>AWAY</TableHeaderCell>
                <TableHeaderCell>RESULT</TableHeaderCell>
                <TableHeaderCell>NEW RESULT</TableHeaderCell>
                <TableHeaderCell>Update</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
    @{
        foreach (var game in @StoredGames)
        {
            <TableRow>
                <TableRowCell>@game.GameDayStr</TableRowCell>
                <TableRowCell>@game.Home</TableRowCell>
                <TableRowCell>@game.Away</TableRowCell>
                <TableRowCell>@game.ResultStr</TableRowCell>
                <TableRowCell>
                    <RadioGroup TValue="int" Name="Game result" @bind-CheckedValue="@game.ResultInt" Buttons>
                        <Radio Value="-99">NO RESULT</Radio>
                        <Radio Value="-1">HOME</Radio>
                        <Radio Value="0">DRAW</Radio>
                        <Radio Value="1">AWAY</Radio>
                    </RadioGroup>
                </TableRowCell>
                <TableRowCell>
                    <Button Color="Color.Primary" Clicked="@((p) => UpdateGameResult(@game))">Update result</Button>
                </TableRowCell>
            </TableRow>
        }
    }
        </TableBody>
    </Table>
</Div>

<Div id="extraGambles">
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Semi final team 1:</TableHeaderCell>
                <TableHeaderCell>Semi final team 2:</TableHeaderCell>
                <TableHeaderCell>Semi final team 3:</TableHeaderCell>
                <TableHeaderCell>Semi final team 4:</TableHeaderCell>
                <TableHeaderCell>Gold medal team:</TableHeaderCell>
                <TableHeaderCell>Silver medal team:</TableHeaderCell>
                <TableHeaderCell>Goals in tournament:</TableHeaderCell>
            </TableRow>
            <TableRow>
                <TableRowCell>
                    <Select TValue="string" @bind-SelectedValue="@extraGamblesResultViewModel.SemiFinalTeam1">
                        @foreach (var team in TeamsList)
                        {
                            <SelectItem Value="@team">@team</SelectItem>
                        }
                    </Select>
                </TableRowCell>
                <TableRowCell>
                    <Select TValue="string" @bind-SelectedValue="@extraGamblesResultViewModel.SemiFinalTeam2">
                        @foreach (var team in TeamsList)
                        {
                            <SelectItem Value="@team">@team</SelectItem>
                        }
                    </Select>
                </TableRowCell>
                <TableRowCell>
                    <Select TValue="string" @bind-SelectedValue="@extraGamblesResultViewModel.SemiFinalTeam3">
                        @foreach (var team in TeamsList)
                        {
                            <SelectItem Value="@team">@team</SelectItem>
                        }
                    </Select>
                </TableRowCell>
                <TableRowCell>
                    <Select TValue="string" @bind-SelectedValue="@extraGamblesResultViewModel.SemiFinalTeam4">
                        @foreach (var team in TeamsList)
                        {
                            <SelectItem Value="@team">@team</SelectItem>
                        }
                    </Select>
                </TableRowCell>
                <TableRowCell>
                    <Select TValue="string" @bind-SelectedValue="@extraGamblesResultViewModel.SilverMedalTeam">
                        @foreach (var team in TeamsList)
                        {
                            <SelectItem Value="@team">@team</SelectItem>
                        }
                    </Select>
                </TableRowCell>
                <TableRowCell>
                    <Select TValue="string" @bind-SelectedValue="@extraGamblesResultViewModel.GoldMedalTeam">
                        @foreach (var team in TeamsList)
                        {
                            <SelectItem Value="@team">@team</SelectItem>
                        }
                    </Select>
                </TableRowCell>
                <TableRowCell>
                    <Select TValue="string" @bind-SelectedValue="@extraGamblesResultViewModel.GoalAmount">
                        @foreach (var goals in GoalAmountOptions)
                        {
                            <SelectItem Value="@goals">@goals</SelectItem>
                        }
                    </Select>
                </TableRowCell>
            </TableRow>
        </TableHeader>
    </Table>
    <Button Color="Color.Success" onclick="@OnSaveExtraGambleResults">Save extra gambles results!</Button>
</Div>



@code {

    public List<string> TeamsList
    {
        get
        {
            if (_gameDataService.AllTeams == null)
            {
                _gameDataService.RefreshTeamsCacheFromList(StoredGames);
            }
            return _gameDataService.AllTeams;
        }
    }

    public List<string> GoalAmountOptions
    {
        get
        {
            return _gameDataService.GoalAmountOptions;
        }
    }


    public async void OnSaveExtraGambleResults() 
    {
        int count = await _gameDataService.SaveExtraGamblesResultModel(extraGamblesResultViewModel.GetExtraGambleModel());
    }

    ExtraGamblesViewModel extraGamblesResultViewModel { get; set; } = new();
    List<GameModelViewModel> StoredGames = new();
    List<GamblingEventViewModel> GamblingEvents = new();

    NewGameViewModel newGameModel = new();


    protected override async Task OnInitializedAsync()
    {
        await RefreshGamblingEventsList();

        ExtraGamblesModel extraGambleModel = await _gameDataService.GetExtraGamblesResultModel();
        extraGamblesResultViewModel = new(extraGambleModel);
        //Today = DateTime.UtcNow.ToString("d");
        await RefreshGamesList();
    }

    public async Task AddNewGameAsync()
    {
        if ( String.IsNullOrWhiteSpace(newGameModel.Home) ||
             String.IsNullOrWhiteSpace(newGameModel.Away) )
        {
            Console.WriteLine("Invalid game object: " + newGameModel.ToString());
            return;
        }

        Console.WriteLine("Creating a new game: " + newGameModel.ToString());

        GameModel gm = new GameModel(newGameModel.Date, newGameModel.Home, newGameModel.Away, null );
        await _gameDataService.AddGameToDatabaseAsync(gm);
        newGameModel = new();
        await RefreshGamesList();

    }


    /// /////////// GAMLIBLING EVENTS //////////////////////////

    public GamblingEventViewModel selectedGamblingEvent { get; set; }
    public async Task OnSelectedEventChanged(int selectedValue)
    {
        Console.WriteLine("Selected event changed to: " + selectedValue);
        await RefreshGamesList();
    }

    public async Task RefreshGamblingEventsList()
    {
        var gamblingEventModels = await _gameDataService.GetGamblingEventModelsFromDatabaseAsync();
        GamblingEvents = new();
        foreach (GamblingEvent gambleEvent in gamblingEventModels)
        {
            GamblingEvents.Add(new GamblingEventViewModel(gambleEvent));
        }
        selectedGamblingEvent = GamblingEvents[0];
    }



    
    /// //////////////////////////////////////////////////////////
    

    public async Task UpdateGameResult(GameModelViewModel gameToUpdate)
    {
        if ( gameToUpdate.OriginalResult == gameToUpdate.ResultInt)
        {
            Console.WriteLine("No change in " + gameToUpdate.MatchTitle + " result: " + gameToUpdate.ResultInt + " vs " + gameToUpdate.OriginalResult);
            return;
        }
        int result = await _gameDataService.UpdateGameResults(gameToUpdate.GetGameModel());
        Console.WriteLine("Game results updated for game " + gameToUpdate.MatchTitle + " from " + gameToUpdate.OriginalResult + " to " + gameToUpdate.ResultInt);
        await RefreshGamesList();
    }

    public async Task UpdateGameResults()
    { 
        List<GameModel> gameModelsToUpdate = new();
        foreach (var gameModelViewModel in StoredGames)
        {
            if (gameModelViewModel.ResultInt != gameModelViewModel.OriginalResult)
            {
                gameModelsToUpdate.Add(gameModelViewModel.GetGameModel());
            }
        }
        int result = 0;
        if (gameModelsToUpdate.Count > 0)
        { 
            result = await _gameDataService.UpdateMultipleGameResults(gameModelsToUpdate);
        }
        Console.WriteLine("Game results updated for " + result + " games.");
        await RefreshGamesList();
    }



    public async Task RefreshGamesList()
    { 
        var gameModels = await _gameDataService.GetGameModelsFromDatabaseAsync();
        StoredGames = new();
        foreach (GameModel gameModel in gameModels)
        {
            StoredGames.Add(new GameModelViewModel(gameModel));
        }
    }

    internal class NewGameViewModel
    {
        public DateTime Date { get; set; } = DateTime.UtcNow;
        public string Home { get; set; }
        public string Away { get; set; }

        public override string ToString()
        {
            return Date.ToShortDateString() + " " + Home + " vs " + Away; 
        }
    }

}